.controlInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid #989898;
    border-radius: 3px;
}

.taxList {
    margin: 20px 0;
}

.tableRow {
    width: 100%;
    font-size: 12px;
}

.tableRow span {
    display: inline-block;
    width: 19%;
    height: 2.5em;
    padding: 10px;
    border: 1px dotted rgb(196, 196, 196);
    text-align: right;
    vertical-align: middle;
}